<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Page Description">
        <meta name="author" content="iirofessor">
        <title>{% block title %}Тестовое задание{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        {% block stylesheets %}{% endblock %}

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <section id="menu" class="shadow-box">
            <div class="container">
                <div class="row">
                    <ul>
                        <li><a href="{{ url('subbotin_main_startpage') }}">Главная</a></li>
                        {% if not app.user %}
                            <li><a href="{{ url('fos_user_security_login') }}">Вход</a></li>
                            <li><a href="{{ url('fos_user_registration_register') }}">Регистрация</a></li>
                        {% else %}
                            <li><a href="{{ url('fos_user_security_logout') }}">Выход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container">
                <div class="row">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
